html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	background-image: url("https://i.imgur.com/l3KcK4b.jpg");
	background-color: #cccccc;	
	background-attachment: fixed;
	background-size: 100%;
}

body header h1 {
	color: #dbdbdb;
	margin: 0px;
	font: bold;
	font-size: 4em;
	padding-left: 50px;
	padding-bottom: .25em;
	background: #5c5c5c;
}

#links {
	background: #5c5c5c;
	padding-bottom: 1em;

}

#links li {
	background: #5c5c5c;
	display: inline-block;
}

#links li a:link, #links li a:visited {
	color: #dbdbdb;
	background: #5c5c5c;
	text-decoration: none;
	text-align: center;
	padding-left: 50px;
}

#links li a:hover, #links li a:active {
	color: #1c1c1c;
	background: #5c5c5c;
	text-decoration: none;
	text-align: center;
	padding-left: 50px;
}

h2{
	font-size: 2em;
	margin-left:10px;
	margin-bottom: 10px;
	padding-top: 20px;	
}

p {
	font-size: 1em;
	max-width: 100%;
	margin-left:10px;
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	max-width: 70%;
	margin: auto;
	background-color: #c2c2c2;
	padding-bottom: 20px;
}

section figure div {
	max-width: 100%;
	width: 90%;
	background-color: #cccccc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
}

section figure div img {
	width: auto; 	
}

section figure div figcaption {
	text-align: center;
	padding: 10px 20px;
}

p.foot {
	color: white;
}